{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'search_widget',
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  {{ children }}
</div>
